html, body{
margin: 0;
padding: 0;
}
p{
text-align: justify;
}
#box{
width: 1000px;
height: auto;
margin: auto;
}
#header{
background-color: #FF7F11;
padding: 20px;
}
#menubar{
background-color: #E2E8CE;
margin: auto;
}
.teksmenu{
text-decoration: none;
}
#konten{
padding: 20px;
}
#footer{
background-color: #ACBFA4;
padding: 20px;
}
